:root {
  --primaryColor: #f2faea;
  --textColor: #496b27;
  --blackTextColor: #0d0c0ce4;
  --bg-button: #2e4713;
  --whiteColor: #e6e0e0;
}

.platformSection {
  width: 100%;
  height: 70vh;
  /* margin-top: 80px; */
  display: flex;
  align-items: center;
}

.platformContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.platformContent {
  width: 40%;
}

.platformContent h1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: var(--textColor);
}

.platformContainer p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.buttonSection {
  gap: 2rem;
}

.btn {
  background: var(--primaryColor) !important;
  color: var(--textColor) !important;
  border: 2px solid var(--textColor);
}

.btn .icon {
  transform: translateY(3px);
  /* font-size: 1rem; */
}

.btn:hover {
  background: var(--bg-button) !important;
  color: var(--whiteColor) !important;
}

.platformImg {
  width: 30%;
  object-fit: cover;
}

.platformImg img {
  width: 100%;
  mix-blend-mode: darken;
}

@media screen and (max-width: 1024px) {
  .platformContent {
    width: 42%;
  }

  .platformContent h1 {
    font-size: 2rem;
  }

  .platformImg {
    width: 40%;
  }
}

@media screen and (max-width: 769px) {
  .platformSection {
    justify-content: center;
    height: 100vh;
    margin-top: 40px;
  }

  .platformContainer {
    flex-direction: column-reverse;
    width: 80%;
    height: 100%;
  }

  .platformContent {
    width: auto;
  }

  .platformContent h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .platformContent p {
    margin-bottom: 1rem;
  }

  .platformImg {
    width: auto;
    height: 50%;
  }

  .platformImg img {
    height: 100%;
  }

  .buttonSection {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .buttonSection .button {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .platformContainer {
    width: 90%;
  }

  .platformContent h1 {
    font-size: 1.5rem;
  }

  .platformContent p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 310px) {
  .platformImg {
    height: 40%;
  }
}