:root {
  --primaryColor: #f2faea;
  --textColor: #496b27;
  --blackTextColor: #0d0c0ce4;
  --bg-button: #2e4713;
  --whiteColor: #e6e0e0;
}

.featureSection {
  margin-top: 2rem;
}

.featuredinSection {
  text-align: center;
}

.featureHeading {
  font-size: 1rem;
}

.companySection {
  width: 80%;
  margin: auto;
}

.companyLogo {
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.listItems {
  width: 50%;
}

.listItems img {
  width: 100%;
  aspect-ratio: 1/1;
  mix-blend-mode: darken;
  color: var(--textColor);
}

.godaddyLogo {
  aspect-ratio: 4/1 !important;
}

.featureSection2 {
  gap: 1rem;
  padding: 0rem 4rem;
}

.featureImg {
  width: 50%;
  z-index: 100;
}

.featureImg img {
  width: 90%;
}

.featureContent {
  width: 30%;
  color: var(--textColor);
  position: relative;
  top: -5rem;
}

.featureContent h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.featureContent p {
  margin-bottom: 1.5rem;
  color: var(--blackTextColor);
  font-size: 1rem;
}

.featureContentLinks {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
  margin-bottom: 1rem;
}

.featureContentLinks li a {
  color: var(--textColor);
  font-weight: 500;
}

a .icon {
  transform: translateY(2px);
  font-size: 1rem;
}

.featureContent button {
  border: none;
  outline: none;
  background: transparent;
  color: var(--textColor);
  font-weight: 600;
  font-size: 1rem;
}

.featureBtn .icon {
  transform: translateY(2px);
  margin-left: 0.5rem;
}

.featureBtn .icon svg {
  background: var(--primaryColor);
}

.featureContent button:hover {
  transform: translateX(3px);
  transition: .3s ease-in-out;
}

.featureSection3 {
  padding: 0 6rem;
  background: var(--primaryColor);
  width: 100%;
  height: 100vh;
  float: right;
  gap: 8rem;
  justify-content: flex-end;
  position: relative;
  top: -4rem;
}

.featureImg2 {
  width: 45%;
}

.featureContent2 {
  width: 35%;
  float: right;
  top: 0;
}

@media screen and (max-width: 769px) {
  .companyLogo {
    grid-template-columns: repeat(2, 1fr);
  }

  .featureSection2 {
    flex-direction: column;
    gap: 2rem;
  }

  .featureImg {
    width: 100%;

  }

  .featureImg img {
    width: 100%;

  }

  .featureContent {
    width: 100%;
    margin-top: 4rem;
  }

  .featureSection3 {
    flex-direction: column-reverse;
    padding: 2rem 4rem;
    top: 0;
    gap: 0rem;
    height: fit-content;
  }

  .featureContent2 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .companySection {
    width: 90%;
  }

  .featureSection2 {
    padding: 0 2rem;
  }

  .featureContentLinks {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0.8rem;
  }

  .featureSection3 {
    padding: 2rem;
  }
}


@media screen and (min-width:770px) and (max-width:1224px) {
  .featureContent {
    width: 50%;
    top: -1rem;
  }

  .featureContent h1 {
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  .featureContent p {
    margin-bottom: 0.5rem;
  }

  .featureContentLinks {
    row-gap: 0.5rem;
  }

  .featureImg {
    width: 50%;
  }

  .featureSection3 {
    gap: 2rem;
    padding: 0rem 4rem;
    top: -2rem;
  }
}

@media screen and (min-width:770px) and (max-width:1024px) {
  .featureContent {
    top: -2rem;
  }
}