:root {
  --primaryColor: #f2faea;
  --textColor: #496b27;
  --blackTextColor: #0d0c0ce4;
  --bg-button: #2e4713;
  --whiteColor: #e6e0e0;
}

.homeSection {
  width: 100%;
  height: 80vh;
  position: relative;
  /* margin-top: 80px; */
  background: var(--primaryColor);
  display: flex;
  align-items: center;
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.homeContent {
  width: 38%;
}

.homeContent h1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: var(--textColor);
}

.homeContainer p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.buttonSection {
  gap: 2rem;
}

.btn {
  background: var(--primaryColor) !important;
  color: var(--textColor) !important;
  border: 2px solid var(--textColor);
}

.btn .icon {
  transform: translateY(3px);
  /* font-size: 1rem; */
}

.btn:hover {
  background: var(--bg-button) !important;
  color: var(--whiteColor) !important;
}

.homeImg {
  width: 50%;
  object-fit: cover;
}

.homeImg img {
  width: 100%;
  aspect-ratio: 4/3;
  mix-blend-mode: darken;
}

@media screen and (max-width:1024px) {
  .homeContent {
    width: 42%;
  }

  .homeContent h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width:769px) {
  .homeSection {
    justify-content: center;
    height: 100vh;
    /* margin-top: 70px; */
  }
  
  .homeContainer {
    flex-direction: column-reverse;
    width: 80%;
    height: 100%;
  }

  .homeContent {
    width: auto;
  }

  .homeContent h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .homeContent p {
    margin-bottom: 1rem;
  }

  .homeImg {
    width: auto;
    height: 50%;
  }

  .homeImg img {
    height: 100%;
  }

  .buttonSection {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .buttonSection .button {
    width: 100%;
  }
}

@media screen and (max-width:425px) {
  .homeSection {
    /* margin-top: 50px; */
  }

  .homeContainer {
    width: 90%;

  }

  .homeContent h1 {
    font-size: 1.5rem;
  }

  .homeContent p {
    font-size: 0.9rem;
  }

}

@media screen and (max-width: 310px) {
  .homeImg {
    height: 40%;
  }
}